@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
   --font1:  "Times New Roman", Times, serif;
   --font2: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   --font3: 'Cormorant Garamond', "Times New Roman", Times, serif;
   --white: #ffffff;
   --black: #000;
   --offBlack: #232323;
   --greyLight: #EBEBEB;
   --greyMed-1: #707070;
   --greyDark: #212121;
   --grey-4: #f7f9fa;
   --black-3: #000f31;
 }

*, *:before, *:after{
    //outline: 1px solid red;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

     font-size: 16px;
 }

 body {
     //background: palegoldenrod;
    //font-family: var(--font-2);
   //overflow-x: hidden;
 }

 li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}

a:visited {
    color: var(--black);
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    width: 100%;
    //background: lightcyan
}
.slider-container {
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    max-width: 1200px;
   
   @media all and (min-width: 1301px) {
    height: 1100px;
   }
   @media all and (min-width: 601px) and (max-width: 1300px) {
    //background:lightblue;
    height: 880px;
   }

   @media all and (max-width: 600px) {
    height: 500px;
   }

    .slider {
      //background: blue;
        margin: auto;
    
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .right-container, .left-container {
          display: flex;
          padding: 0 20px;
          @media all and (max-width: 600px) {
            padding: 0 10px;
           }
      }
}

 
  .image {        
      object-fit: fill;  
    //height: 600px;
    //border-radius: 10px;
    margin: 0 auto;
  }
  .slide {
    h1 {
     // margin-top: 30px;
      font-weight: 300;
      font-style: italic;
      text-transform: capitalize;
      font-size: 22px;
      @media all and (max-width: 700px) {
        font-size: 14px;
      }

    }
    h1::after {
      vertical-align: middle;
      content: '';
      display: inline-block;
      background: #000;
      height: 1px;
      width: 100px;
      margin-left: 0.5em;
      transition: all 1s ease;
      @media all and (max-width: 700px) {
        width: 60px;
      }
    }
  }
// potrait ===================================================
  .slide.portrait {
   
    h1 {
     
      margin: 10px auto 0 auto;
      @media all and (min-width: 1301px) {
        width: 50% ;
        //outline: red salmon 1px;
    }
      @media all and (min-width: 701px) and (max-width: 1300px) {
        width: 45%;
       }
      @media all and (max-width: 700px) {
       
        width: 80%;
    }

    }
     img {
      margin: 0 auto;
      
      @media all and (min-width: 1301px) {
        width: 50% ;
       
    }
      @media all and (min-width: 701px) and (max-width: 1300px) {
        width: 45%;
       }
      @media all and (max-width: 700px) {
       
        width: 80%;
    }
      
      //outline: red solid 1px;
     }
  }
// landscape ===================================================
  .slide.landscape {
    
    // width: 70%;
    h1 { 
      margin: 10px auto 0 auto;
     
    @media all and (min-width: 1301px) {
      width: 90%;
  }
    @media all and (min-width: 701px) and (max-width: 1300px) {
      width: 70%;
     }
    @media all and (max-width: 700px) {
     
      width: 96%;
  }
    }
    img {
      @media all and (min-width: 1301px) {
        width: 90%;
    }
      @media all and (min-width: 701px) and (max-width: 1300px) {
        width: 70%;
       }
      @media all and (max-width: 700px) {
       
        width: 96%;
    }
    }
  }


  .arrow {
    width: 30px;
   margin: auto;
   //margin: 20px 0;
   @media all and (max-width: 1300px) {
    width: 25px;
   }
   @media all and (max-width: 600px) {
    width: 20px;
   }
   @media all and (max-width: 450px) {
    width: 10px;
   }
   img {
    
   
    &:hover {
    
    }
   }

  }
  .arrow img {
    transition: all 0.3s;
  }
  .arrow:hover img {
    cursor: pointer;
    transform: scale(0.9);
    @media all and (max-width: 600px) {
      transform: scale(1);
    }
  }
  
  .right-arrow {
 
    
    
  }
  
  .left-arrow {

  }
  
  .slide {
    opacity: 0;
    transition: all 1.4s ease-in;
  }
  
  .slide.active {
    opacity: 1;
    transition: all 1.4s ease-in;
  }
  
  .dots-container {
       
       //font-style: italic;
       font-size: 1.4rem;
       font-weight: 300;
    z-index: 40;
    //background: red;
    //position: absolute;
    // bottom: 0px;
    width: 100px; 
    margin: auto;
  
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  .dot {
    padding: 0 12px;
    //margin-right: 5px;
   cursor: pointer;
   font-size: 22px;
    // border-radius: 50%;
    // background: grey;
    position: relative;
    &:hover {
      font-style: italic;
    }
    @media all and (max-width: 700px) {
      font-size: 14px;
    }

  } 

  .dot.active::after {
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background-color:#000;
    transition: background-color 0.3s ease-in-out;
    bottom:-3px;
    left:0;
    right:0;
    margin:auto;
    @media all and (max-width: 700px) {
      width:60%;
    }
    
}
  .pagination-container {
      display: flex;
      width: 100%;
      //margin: 30px;
  }